
.star{
    color: white;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.me{
 width: auto;
 position: absolute;
 right: 30px;
}
.github{
    background-color: white;
    border-radius: 70px;
    right: 100px;
}
.line{
    bottom: 100px;

}
.pri{
    color: white;
}
.button{
    width: 250px;
    border-radius: 50px;

}
.button:hover{
    cursor: pointer;
    background-color: aqua;
}
@media  screen and (max-width:750px) {
    .star{
    color: white;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
    transform: none;
    object-fit: cover;
    z-index: -1;
} 
.bob{
   overflow-y: auto;
    height: 100vh;
}
}

