
*{
    font-family:'Courier New', Courier, monospace;
}
.star{
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.me{
 width: auto;
 position: absolute;
 right: 30px;
}
.github{
    background-color: white;
    border-radius: 70px;
    right: 100px;
}
.line{
    bottom: 100px;
}
.pri{
    color: white;
}
.button{
    width: 250px;
    border-radius: 50px;

}
.button:hover{
    cursor: pointer;
    background-color: aqua;
}
@media  screen and (max-width:1100px) {
    .star{
    color: white;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
    transform: none;
    object-fit: cover;
    z-index: -1;
} 
.me{
 width: 25%;
 right: 30px;
 margin-top: 5%;
}
.container{
    margin-top: 20%;
}
.bob{
    overflow-y: auto;
    height: 100vh;
}
}
