*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bob{
    background-image: url(darkmode.png);
    color: white;
}
.hacker{
    width: 500px;
    margin-left: 9%;
}
.micky{
    width: 250px;
}
.micky1{
    width: 250px;
    margin-left: 15%;
}
.back{
    color: white;
    background-color: white;
    border-radius: 50px;
    margin-left: 90%;
}
.back  :hover{
    background-color: aqua;
    cursor: pointer;
}
.micky2{
     width: 250px;
}
.micky3{
    width: 250px;
    margin-left: 15%;
}
